body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u6 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:35px;
  top:100px;
  width:290px;
  height:290px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u8 {
  position:absolute;
  left:2px;
  top:137px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:126px;
  top:420px;
  width:109px;
  height:39px;
  font-family:'Proxima Nova Light', 'Proxima Nova';
  font-weight:300;
  font-style:normal;
  font-size:32px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
