body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:13px;
  top:14px;
  width:127px;
  height:22px;
  font-family:'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:324px;
  top:12px;
  width:26px;
  height:26px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:46px;
  width:365px;
  height:144px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:46px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:46px;
}
#u11 {
  position:absolute;
  left:20px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:298px;
  top:0px;
  width:62px;
  height:46px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:46px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:46px;
  width:298px;
  height:52px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:52px;
}
#u15 {
  position:absolute;
  left:20px;
  top:17px;
  width:276px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:298px;
  top:46px;
  width:62px;
  height:52px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:52px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:98px;
  width:298px;
  height:41px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:41px;
}
#u19 {
  position:absolute;
  left:20px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:298px;
  top:98px;
  width:62px;
  height:41px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:137px;
  width:360px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
