body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:229px;
  width:320px;
  height:78px;
  font-family:'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
  font-size:64px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:78px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:341px;
  width:204px;
  height:39px;
  font-family:'Proxima Nova Regular', 'Proxima Nova';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:39px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:104px;
  top:520px;
  width:152px;
  height:40px;
  font-family:'Proxima Nova Semibold', 'Proxima Nova';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:196px;
  top:406px;
  width:78px;
  height:78px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u7 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:201px;
  top:446px;
  width:20px;
  height:50px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:79px;
  top:409px;
  width:77px;
  height:77px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:74px;
  top:16px;
  width:212px;
  height:212px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:212px;
}
#u13 {
  position:absolute;
  left:2px;
  top:98px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
